.header__lang-link {
  width: 30px;
  height: 24px;
  font-size: 24px;
  font-weight: normal;
  line-height: 0.96;
  text-decoration: none;
  color: #fff;
  transition: opacity 2s;
}

.header__lang-link:last-of-type {
  margin-right: 0;
}

.header__lang-link:hover {
  opacity: .8;
}

@media screen and (max-width: 375px) {
  .header__lang-link {
    width: 22px;
    height: 20px;
    font-size: 18px;
    line-height: 1.17;
  }
}

