.place__webcite {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

@media screen and (max-width: 622px) {
  .place__webcite {
    margin-bottom: 32px;
    align-self: flex-start;
  }
}

@media screen and (max-width: 375px) {
  .place__webcite {
    margin: 0 auto 32px 16px;
  }
}
