.comments__title {
  font-size: 72px;
  line-height: 1.09;
  max-width: 800px;
  margin: 0 auto 48px;
  padding: 0;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .comments__title {
    line-height: 65px;
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .comments__title {
    font-size: 42px;
    line-height: 46px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 425px) {
  .comments__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
  }
}
