.cover__container {
  min-height: 640px;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  z-index: 0;
}

.cover__container::before {
  content: "";
  background: #2a2c2f;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: opacity 2s;
}

.cover__container:hover::before {
  opacity: .8;
}
