.cover__container {
  width: 100%;
  min-height: 594px;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  z-index: 0;
}

.cover__container::before {
  content: "";
  background: #2a2c2f;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: opacity 2s;
}

.cover__container:hover::before {
  opacity: .8;
}

@media screen and (max-width: 1024px) {
  .cover__container {
    min-height: 562px;
  }
}

@media screen and (max-width: 768px) {
  .cover__container {
    min-height: 500px;
  }
}

@media screen and (max-width: 690px) {
  .cover__container {
    min-height: 272px;
  }
}


@media screen and (max-width: 375px) {
  .cover__container {
    min-height: 216px;
  }
}
