.comment {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 382px;
}

@media screen and (max-width: 768px) {
  .comment {
    align-content: center;
    justify-content: center;
  }
}
