.video__title {
  white-space: pre-line;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.08;
  text-align: center;
  margin: 0 auto 48px;
}

@media screen and (max-width: 768px) {
  .video__title {
    font-size: 42px;
    line-height: 1.1;
    margin-bottom: 31px;
  }
}

@media screen and (max-width: 450px) {
  .video__title {
    font-size: 32px;
    margin-bottom: 16px;
  }
}
