.intro__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.63;
  margin: 0 auto 33px 0;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .intro__text {
    margin-bottom: 34px;
  }
}

