.lead__subtitle {
  white-space: pre-line;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  margin: 0 auto 78px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 65px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    font-size: 3.9vw;
    margin-bottom: 78px;
  }
}

@media screen and (max-width: 375px) {
  .lead__subtitle {
    font-style: normal;
    font-size: 16px;
    line-height: 1.43;
    margin-bottom: 32px;
  }
}
