.cover {
  width: calc(100% - 96px);
  margin: 0 48px 92px;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
    margin: 0 0 92px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    width: 100%;
    margin: 0 0 88px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    width: 100%;
    margin: 0 0 64px;
  }
}
