.page__wraper {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  padding: 30px 0 48px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .page__wraper {
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 375px) {
  .page__wraper {
    padding-top: 16px;
  }
}
