.footer {
  margin: 0 48px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (min-width: 1440px) {
  .footer {
    margin: 0 128px;
  }
}

@media screen and (max-width: 775px) {
  .footer {
    margin: 0 23px;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    flex-direction: column;
    margin: 0 auto 0 16px;
  }
}

