.place__webcite-url {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 2px;
  margin: 0 auto 12px 0;
  padding: 0;
  color: #aaa;
}

@media screen and (max-width: 1024px) {
  .place__webcite-url {
    line-height: 1.7;
  }
}

@media screen and (max-width: 768px) {
  .place__webcite-url {
    line-height: 1;
  }
}

@media screen and (max-width: 320px) {
  .place__webcite-url {
    font-size: 12px;
    line-height: 1;
  }
}
