.place__webcite-url {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 2px;
  margin: 0 auto 16px 0;
  padding: 0;
  color: #aaa;
}

@media screen and (max-width: 375px) {
  .place__webcite-url {
    font-size: 12px;
    margin-bottom: 12px;
    line-height: 1;
  }
}
