.video__container {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  gap: 18px;
}

@media screen and (max-width: 1024px) {
  .video__container {
    gap: 16px;
  }
}

@media screen and (max-width: 768px) {
  .video__container {
    gap: 8px;
  }
}

